*{
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    font-size:16px;
    padding:0;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    margin:10px auto;
    padding:10px;
    text-align: center;
    font-size:32px;
}

form span{
    display: inline-block;
    width: 100px;
    /* text-align: right; */
}

.students table{
    border-collapse: collapse;
}
.students table tr td{
    padding: 5px;
    border: 1px solid #ddd;
}